<div class="d-flex justify-content-between mt-4">
    <h2>Profile</h2>
    <div class="d-flex align-items-center">
        <span class="mr-2">Initial: {{fname.value | Initial: lname.value : userID}}</span>
        <input class="btn btn-outline-info" *ngIf="!is_editable" (click)="enableEdit()" type="submit" value="Edit"/>
    </div>
</div>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
<div class="d-flex flex-column align-items-center mt-4">
    <div class="w-50">
        <div class="row">
            <div class="col col-lg-6 col-12">
                <div class="form-group">
                    <label for="fname">First Name</label>
                    <input class="form-control"  [attr.disabled]="(is_editable)?null:true" [class.is-invalid]="fname && fname.invalid && fname.touched" type="text" formControlName="fname"  id="fname">
                    <div class="invalid-feedback">
                        First name is required.
                    </div>
                </div>
            </div>
            <div class="col col-lg-6 col-12">
                <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input class="form-control" [attr.disabled]="(is_editable)?null:true" [class.is-invalid]="lname && lname.invalid && lname.touched" type="text" formControlName="lname"  id="lname">
                    <div class="invalid-feedback">
                        Last name is required.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-6 col-12">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input class="form-control" [attr.disabled]="(is_editable)?null:true" [class.is-invalid]="email && email.invalid && email.touched" type="email" formControlName="email"  id="email">
                    <div class="invalid-feedback">
                        Email address is required.
                    </div>
                </div>
            </div>
            <div class="col col-lg-6 col-12">
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input class="form-control" [attr.disabled]="(is_editable)?null:true"  type="text" formControlName="phone"  id="phone">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-6 col-12">
                <div class="form-group">
                    <label for="date_of_birth">Date of Birth</label>
                    <input 
                    type="date"
                    class="form-control" 
                    [attr.disabled]="(is_editable)?null:true" 
                    [attr.hidden]="(is_editable)?null:true"  
                    formControlName="date_of_birth"  
                    id="date_of_birth"
                    value="2012-05-05"
                    >

                    <input  
                    class="form-control" 
                    [attr.hidden]="(is_editable)?true:null" 
                    type="text" disabled *ngIf="date_of_birth" 
                    value="{{date_of_birth.value | date:'mediumDate'}}">

                </div>
            </div>
            <div class="col col-lg-6 col-12">
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select class="form-control" [attr.disabled]="(is_editable)?null:true" id="gender" formControlName="gender">
                        <option [attr.selected]="(gender && gender.value==='Male')?true:null">Male</option>
                        <option [attr.selected]="(gender && gender.value==='Female')?true:null">Female</option>
                      </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-6 col-12">
                <div class="form-group">
                    <label for="address">Address</label>
                    <input class="form-control" [attr.disabled]="(is_editable)?null:true" type="text" formControlName="address"  id="address">
                </div>
            </div>
            <div class="col col-lg-6 col-12">
                <div class="form-group">
                    <label for="interest">Interest</label>
                    <input class="form-control" [attr.disabled]="(is_editable)?null:true" type="text" formControlName="interest"  id="interest">
                </div>
            </div>
        </div>
    <input class="btn btn-outline-success w-100" *ngIf="is_editable" type="submit" value="Save"/>
    </div>
</div>
</form>