<div class="background" *ngIf="modal">
    <div class="edit-modal">  
        <div class="header">
            <span>Edit Profile</span>
            <div class="icons">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                <i class="fa fa-times-circle" (click)="closeModal()" aria-hidden="true"></i>
            </div>
        </div>
        <div class="body">
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div class="d-flex flex-column align-items-center mt-4">
                    <div >
                        <div class="row">
                            <div class="col col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="fname">First Name</label>
                                    <input class="form-control"  [class.is-invalid]="fname && ((fname.invalid && fname.touched) || ( is_submitted && fname.invalid ))" type="text" formControlName="fname"  id="fname">
                                    <div class="invalid-feedback">
                                        First name is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="lname">Last Name</label>
                                    <input class="form-control" [class.is-invalid]="lname && ((lname.invalid && lname.touched) || ( is_submitted && lname.invalid ))" type="text" formControlName="lname"  id="lname">
                                    <div class="invalid-feedback">
                                        Last name is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <input class="form-control" type="text" formControlName="address"  id="address">
                                </div>
                            </div>
                            <div class="col col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <input class="form-control"  type="text" formControlName="phone"  id="phone">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="date_of_birth">Date of Birth</label>
                                    <input class="form-control" type="text" formControlName="date_of_birth"  id="date_of_birth">
                                </div>
                            </div>
                            <div class="col col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="gender">Gender</label>
                                    <select class="form-control" id="gender" formControlName="gender">
                                        <option [attr.selected]="(gender && gender.value==='Male')?true:null">Male</option>
                                        <option [attr.selected]="(gender && gender.value==='Female')?true:null">Female</option>
                                      </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            
                            <div class="col  col-12">
                                <div class="form-group">
                                    <label for="interest">Interest</label>
                                    <input class="form-control" type="text" formControlName="interest"  id="interest">
                                </div>
                            </div>
                        </div>
                    <input class="btn btn-outline-success w-100" *ngIf="is_editable" type="submit" value="Save"/>
                    </div>
                </div>
                </form>
        </div>
    </div>
</div>